@import "_partials/reset";
@import "_partials/icon-font";
@import "_partials/fonts";
@import "_partials/swiper.css";

$main-color: #3f3531;
$accent-color: #db143c;
$shadow: 2px 5px 14px 0 rgba(0,0,0,.05);
* {
  box-sizing: border-box;
}

button, input, select {
  outline: none;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  color: #3f3531;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  padding-bottom:160px;
  min-height: 100%;
}

h1, h2 {
  font-weight: 900;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.left-arrow {
  &:before {
    content: '\2190';
    width: 1em;
    margin: 0 5px;
  }
}

.left-arrow {
  &:before {
    content: '\2190';
    width: 1em;
    margin: 0 5px;
  }
}

.right-arrow {
  &:after {
    content: '\2192';
    width: 1em;
    margin: 0 5px;
  }
}

.btn {
  background: $accent-color;
  border: none;
  padding: 0 15px;
  line-height: 33px;
  height: 33px;
  min-width: 160px;
  font-size:15px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 12px 4px 16px 0 rgba($accent-color, .15);
  transition: background-color ease .3s, box-shadow ease .3s;
  &:hover {
    background-color: darken($accent-color, 5%);
    box-shadow: none;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  padding: 10px 0;
  .logo {
    display: inline-block;
    width: 92px;
    img {
      width: 100%;
    }
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrap {
  overflow: hidden;
}

.contacts-block {
  a {
    color: #989898;
    display: inline-block;
    margin: 0 3px;
  }
}

.header-section {
  padding: 10px 0;
}

.header-title {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
}

h2.section-title {
  font-size: 15px;
  margin: 30px 0 15px;
}

.shop-block {
  display: flex;
  justify-content: center;
}

.shop-item {
  width: 155px;
  margin: 25px 0 0;
  background: #fff;
  position: relative;
  padding: 106px 15px 20px;
  text-align: center;
  color: #3f3531;
  transition: transform ease .3s, box-shadow ease .3s;
  height:auto;
  box-shadow: $shadow;
  img {
    position: absolute;
    top: -27%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 110%;
    max-height: 100%;
  }
  strong {
    display: block;
    padding-bottom: 11px;
    font-size: 15px;
    position: relative;
    margin-bottom: 15px;
    &:after {
      content: '';
      display: block;
      width: 75px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      background: #e4e4e4;
      transform: translateX(-50%);
    }
  }
  p {
    font-size: 11px;
  }
}

.home-page-slider {
  .swiper-wrapper {
    align-items: stretch;
  }
}

.shop-link {
  width: 155px;
  margin: 25px 0 0;
  background: #db143c;
  color: #fff;
  text-align: center;
  padding: 45px;
  box-shadow: 4px 10px 18px 0 rgba(226, 16, 76, .18);
  transition: background-color ease .3s, box-shadow ease .3s;
  height:auto;
  img {
    width: 55px;
    margin-bottom: 14px;
  }
}

.news-block {
  display: flex;
  justify-content: center;
}

.machine-item {
  width: 155px;
  background: #fff;
  position: relative;
  padding: 20px 12px;
  text-align: center;
  color: #3f3531;
  transition: transform ease .3s, box-shadow ease .3s;
  box-shadow: $shadow;
  height:auto;
  img {
    max-width: 100%;
    max-height: 145px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
  }
}

.news-item {
  padding-top: 114px;
  position: relative;
  width: 155px;
  box-shadow: $shadow;
}

.news-img-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 114px;
  overflow: hidden;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.news-text-wrap {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 15px 10px;
  height: 100%;
  text-align: center;
  h3 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    height: 30px;
    overflow: hidden;
  }
  .public-date {
    font-size: 14px;
    display: block;
    padding-bottom: 17px;
    margin-bottom: 14px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 75px;
      height: 1px;
      background: #e4e4e4;
    }
  }
  p {
    line-height: 14px;
    font-size: 11px;

  }
  a{
    color: $accent-color;
  }
}

.service-section {
  .service-item {
    width: 155px;
    background: #fff;
    position: relative;
    padding: 110px 15px 20px;
    text-align: center;
    color: #3f3531;
    transition: transform ease .3s, box-shadow ease .3s;
    box-shadow: $shadow;
    .img-wrap {
      position: absolute;
      top: 30px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      height: 95px;
      img {
        max-width: 80%;
        max-height: 80%;
        object-fit: cover;
      }
    }
    strong {
      display: block;
      padding-bottom: 11px;
      font-size: 15px;
      position: relative;
      margin-bottom: 15px;
      &:after {
        content: '';
        display: block;
        width: 75px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #e4e4e4;
        transform: translateX(-50%);
      }
    }
    p {
      font-size: 11px;
    }
  }
}

.subcategories-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.subcategories-item {
  width: 100%;
  margin: 0 15px 15px;
  background: #fff;
  padding: 30px 30px 30px 155px;
  position: relative;
  min-height: 135px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #3f3531;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  transition: box-shadow ease .3s;
  h3 {
    padding-bottom: 6px;
    margin-bottom: 12px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75px;
      height: 1px;
      background: #e4e4e4;
    }
  }
}

.subcategories-img-wrap {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 125px;
  height: 125px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.news-section{
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide{
    height:auto;
  }
}

.header-category , .header-subcategory, .header-contacts{
  margin-bottom: 20px;
  h1 {
    a {
      color: $main-color;
      &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-left: 2px solid $main-color;
        border-top: 2px solid $main-color;
        transform: rotate(-45deg);
        transform-origin: 20% 45%;
        margin-right: 5px;
      }
    }
  }
}
.header-product, .header-news, .header-tasting{
  margin-bottom: 20px;
  a {
    color: $main-color;
    font-size:15px;
    font-weight:900;
    &:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-left: 2px solid $main-color;
      border-top: 2px solid $main-color;
      transform: rotate(-45deg);
      transform-origin: 20% 45%;
      margin-right: 5px;
    }
  }
}
.products-block {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  .product-item {
    margin: 35px 7px 15px;
    background: #fff;
    width: 150px;
    min-height: 135px;
    color: #3f3531;
    padding-top: 100px;
    position: relative;
    transition: box-shadow ease .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    p {
      padding: 10px;
      text-align: center;
      font-size: 15px;
      font-weight:500;
    }
  }
  .product-item-img {
    overflow: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 35px;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}
.main-product-image {
  margin: 35px 0px 15px;
  background: #fff;
  width: 150px;
  min-height: 135px;
  color: #3f3531;
  padding-top: 100px;
  position: relative;
  transition: box-shadow ease .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
}
.product-name{
  margin-bottom: 20px;
}
p{
  a{
    color: #000;
    font-weight:600;
    text-decoration: none;
  }
  iframe{
    width:100%;
    height:300px;
    margin: 20px 0;
  }
}
.product-image-wrap {
  overflow: hidden;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 25px;
  img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
.product-name{
  h1{
    font-size: 20px;
    margin-bottom:20px;
  }
}

.product-info-text{
  background: #e5e5e5;
  padding:17px;
  p{
    font-size:12px;
    margin-bottom:10px;
  }
  strong{
    font-weight:700;
  }
}

.news-post{
  h1{
    font-size: 20px;
    margin-bottom:5px;
  }
  .post-date{
    font-size:12px;
    font-weight:400;
    display: block;
    margin-bottom:18px;
  }
  img{
    width:100%;
    height:auto;
  }
}
.gallery-block{
  height:240px;
}

.gallery-top {
  width: 100%;
  height: 190px;
  .swiper-slide {
    width: 100%;
    background-size:cover;
  }
}

.gallery-thumbs {
  height: 50px;
  margin: 5px 0;
  .swiper-slide {
    width: 20%;
    background-size: cover;
  }
}

.gallery-block {
  margin: 30px 0;
}

.gallery-button-next, .gallery-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 75px;
  z-index: 100;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
  }
  span {
    display: block;
    width: 6px;
    height: 6px;
    border-left: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.gallery-button-next {
  right: 0;
  &:before {
    right: -25px;
    left: auto;
  }
  span {
    transform: translate(-50%, -50%) rotate(135deg);
    left: 75%;
  }
}

.post-content{
  p{
    margin-bottom:10px;
    font-size:11px;
  }
}
.text-block{
  font-size:11px;
  ol {
    list-style-type: decimal;
  }
  li{
    margin-bottom:5px;
  }
  a{
    color: $main-color;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  p{
    img{
      margin: 10px 0;
    }
  }
}

.news-sidebar form>div {
  position: relative;
}

.news-sidebar input, .news-sidebar select {
  width: 100%;
  background-color: #efefef;
  border: 1px solid rgba(63,53,49,.1);
  padding-left: 15px;
  padding-right: 30px;
  height: 35px;
  margin-bottom: 25px;
}

.news-sidebar input[type=submit] {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 0;
  color: transparent;
  background: url(../img/search_icon@3x.png) 95% 50% no-repeat;
  background-size:20px;
  border: none;
  cursor: pointer;
}
.news-sidebar label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.news-sidebar select {
  background: url(../img/select_arrow@3x.png) 96% center no-repeat;
  margin-bottom: 25px;
  background-size: 10px;
}

.news-list-item{
  width: 100%;
  margin: 0 0 15px;
  background: #fff;
  padding: 15px 15px 15px 155px;
  position: relative;
  min-height: 135px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #3f3531;
  box-shadow: 4px 10px 14px 0 rgba(0,0,0,.05);
  transition: box-shadow ease .3s;
  .img-wrap{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 140px;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
  h3{
    font-size:15px;
    font-weight:500;
    margin-bottom:5px;
  }
  .post-date{
    font-size:11px;
    display: block;
    padding-bottom:5px;
    margin-bottom:8px;
    position: relative;
    &:after{
      content: '';
      display: block;
      height:1px;
      width: 40px;
      position: absolute;
      bottom:0;
      left:0;
      background: #e4e4e4;
    }
  }
  p{
    font-size:10px;
  }
}
nav{
  display: none;
}

.callback-block{
  position: relative;
  padding: 185px 50px 40px;
  .map{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
  }
}
.contact-block{
  background: #fff;
  position: relative;
  z-index:1;
  padding:20px;
}
.contact-info{
  text-align: center;
  margin-bottom:20px;
  &:last-child{
    margin-bottom:0;
  }
  strong{
    font-size:15px;
    margin-bottom:5px;
    font-weight:500;
  }
  p{
    font-size:11px;
    margin-bottom:5px;
  }
  span{
    font-size:12px;
    margin-bottom:5px;
    display: block;
  }
}
footer {
  background: #e4e4e4;
  padding: 20px 0;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}


.copyright {
  font-size: 10px;
}

.social-link {
  text-align: left;
  margin-top:20px;
  a {
    color: $main-color;
    opacity: .7;
    display: inline-block;
    margin: 3px -3px;
    font-size: 20px;
  }
}



.text-block{
  font-size: 17px;
  margin-bottom: 10px;
}
.copyright{
  font-size: 11px;
}
.news-text-wrap p{
  font-size: 12px;
}
.service-section .service-item p{
  font-size: 12px;
}
.shop-item p{
  font-size: 13px;
}
.service-section .service-item{
  width: 155px;
  background: #fff;
  position: relative;
  padding: 110px 15px 20px;
  height:auto;
  padding-top: 110px;
  text-align: center;
  color: #3f3531;
  transition: box-shadow ease .3s,-webkit-transform ease .3s;
  transition: transform ease .3s,box-shadow ease .3s;
  transition: transform ease .3s,box-shadow ease .3s,-webkit-transform ease .3s;
}

.content-wrap{
  height: 100%;
  padding-bottom:30px;
}
.tasting-info{
  margin-bottom: 20px;
}

.site-switch{
  display: block;
  margin-bottom:20px;
  color: #4d4d4d;
  font-weight:600;
}

.social-link{
  .email{
    margin-top:5px;
    font-size:12px;
    display: block;
  }
}

.lang_select{
  display: inline-block;
  vertical-align: top;
  height:17px;
  li{
    display: none;
    font-size:15px;
    font-weight:900;
    line-height:15px;
    margin-bottom:5px;
    a{
      padding: 0;
    }
  }
  .wpml-ls-current-language{
    display: block;
    margin-top:-2px;

  }
  ul{
    display: flex;
    flex-direction: column-reverse;
  }
}

.service_mobile_more {
  color: #db143c;
}

.site_switcher {
  margin-top: 15px;
  color: #db143c;
  cursor: pointer;
}
.product-specifications{
  margin-top:25px;
}
.text-block ol{
  padding-left: 20px;
}
.text-block p{
  margin-bottom:10px;
}
.section-404{
  text-align: center;
  display: flex;
  align-items: center;
  h1{
    font-size:35px;
  }
  .container{
    max-width: 750px;
  }
  a{
    color: $main-color;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
.main-404{
  position: relative;

  span{
    font-size:110px;
    font-weight:900;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-top:-30px;
  }
  img{
    vertical-align: middle;
    font-size:110px;
    font-weight:900;
    color: #fff;
    margin-right: -25px;
    width:150px;
  }

}
.info-404{
  strong{
    font-size: 21px;
    font-weight:700;
    display: inline-block;
    margin-bottom: 20px;
  }
  ul{
    font-size: 15px;
  }
  li{
    margin-bottom:20px;
  }
}
.show-more {
  display: block;
  text-align: center;
  color: #3f3531;
}
@import "_partials/media";
